@charset "utf-8";
/*
tudo que em html = id em css é #,
tudo que html = class em css é . ,

*/

body{
    background-color: rgb(215, 233, 233);
    font-family: 'Ubuntu';

}

h1{
    color: rgb(110, 148, 135);
}

h1#prime{
    text-align: center;
    color: brown;
    font-size: 3em;
    font-weight: bold;
}

h2{
    color: rgb(23, 188, 133);
}

.basico {

  color: blue;
  font-weight: bold;
}

.intermediario {
    color: rgb(237, 153, 161);
    font-weight: bold;
}

.avancado {
color: crimson;
font-weight: bold;

}
.distak{

    background-color: yellow ;
}